{
  "openapi": "3.1.0",
  "info": {
    "title": "Sistema de Representantes - REST API",
    "version": "1.0.0",
    "description": "API pública para integração com o Sistema de Representantes. Autenticação via API Key por empresa (header X-API-Key)."
  },
  "servers": [
    {
      "url": "https://sistema-representantes.chavemestragestao.com.br"
    }
  ],
  "security": [
    { "ApiKeyAuth": [] }
  ],
  "paths": {
    "/api/v1/clients": {
      "get": {
        "summary": "Listar clientes",
        "description": "Lista clientes da empresa autenticada por API Key.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Lista de clientes",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClientsResponse" } } }
          },
          "401": { "description": "API key ausente ou inválida" },
          "403": { "description": "Empresa inativa" }
        }
      },
      "post": {
        "summary": "Criar cliente",
        "description": "Cria um novo cliente no schema da empresa autenticada.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewClientRequest" } } }
        },
        "responses": {
          "201": { "description": "Cliente criado", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ClientWrap" } } } },
          "400": { "description": "Corpo inválido" },
          "401": { "description": "API key ausente ou inválida" },
          "403": { "description": "Empresa inativa" }
        }
      }
    },
    "/api/v1/sales": {
      "get": {
        "summary": "Listar vendas",
        "description": "Lista vendas da empresa autenticada por API Key (com nomes de cliente e representada).",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1, "minimum": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } }
        ],
        "responses": {
          "200": {
            "description": "Lista de vendas",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SalesResponse" } } }
          },
          "401": { "description": "API key ausente ou inválida" },
          "403": { "description": "Empresa inativa" }
        }
      },
      "post": {
        "summary": "Criar venda",
        "description": "Cria uma venda com itens no schema da empresa autenticada.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NewSaleRequest" } } }
        },
        "responses": {
          "201": { "description": "Venda criada", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SaleWrap" } } } },
          "400": { "description": "Corpo inválido" },
          "401": { "description": "API key ausente ou inválida" },
          "403": { "description": "Empresa inativa" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": { "type": "apiKey", "in": "header", "name": "X-API-Key" }
    },
    "schemas": {
      "Client": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "codigo": { "type": "string", "nullable": true },
          "nome": { "type": "string" },
          "email": { "type": "string", "nullable": true },
          "telefone": { "type": "string", "nullable": true },
          "cidade": { "type": "string", "nullable": true },
          "estado": { "type": "string", "nullable": true },
          "cnpj_cpf": { "type": "string", "nullable": true },
          "endereco": { "type": "string", "nullable": true },
          "bairro": { "type": "string", "nullable": true },
          "observacao": { "type": "string", "nullable": true },
          "segunda": { "type": "boolean" },
          "terca": { "type": "boolean" },
          "quarta": { "type": "boolean" },
          "quinta": { "type": "boolean" },
          "sexta": { "type": "boolean" },
          "ativo": { "type": "boolean" }
        },
        "required": ["id", "nome", "ativo"]
      },
      "NewClientRequest": {
        "type": "object",
        "properties": {
          "codigo": { "type": "string" },
          "nome": { "type": "string" },
          "email": { "type": "string" },
          "telefone": { "type": "string" },
          "cidade": { "type": "string" },
          "estado": { "type": "string" },
          "cnpj_cpf": { "type": "string" },
          "endereco": { "type": "string" },
          "bairro": { "type": "string" },
          "observacao": { "type": "string" },
          "ativo": { "type": "boolean", "default": true }
        },
        "required": ["nome"]
      },
      "SaleItem": {
        "type": "object",
        "properties": {
          "produtoId": { "type": "string" },
          "quantidade": { "type": "number" },
          "valorUnitario": { "type": "number" }
        },
        "required": ["produtoId", "quantidade", "valorUnitario"]
      },
      "Sale": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "pedido": { "type": "string" },
          "data": { "type": "string", "format": "date-time" },
          "nf": { "type": "string", "nullable": true },
          "ano": { "type": "integer" },
          "mes": { "type": "integer" },
          "dia": { "type": "integer" },
          "cliente_id": { "type": "string" },
          "representada_id": { "type": "string" },
          "status": { "type": "string" },
          "valor_total": { "type": "number" },
          "currency": { "type": "string" },
          "cliente_nome": { "type": "string" },
          "representada_nome": { "type": "string" }
        },
        "required": ["id", "pedido", "data", "cliente_id", "representada_id", "status", "valor_total", "currency"]
      },
      "NewSaleRequest": {
        "type": "object",
        "properties": {
          "clienteId": { "type": "string" },
          "representadaId": { "type": "string" },
          "status": { "type": "string" },
          "nf": { "type": "string" },
          "pedido": { "type": "string" },
          "data": { "type": "string", "format": "date-time" },
          "itens": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/SaleItem" } }
        },
        "required": ["clienteId", "representadaId", "status", "itens"]
      },
      "ClientsResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Client" } },
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "SalesResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Sale" } },
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "ClientWrap": {
        "type": "object",
        "properties": { "data": { "$ref": "#/components/schemas/Client" } }
      },
      "SaleWrap": {
        "type": "object",
        "properties": { "data": { "$ref": "#/components/schemas/Sale" } }
      }
    }
  }
}