{
  "openapi": "3.0.0",
  "info": {
    "title": "Sistema de Representantes API",
    "version": "1.0.0",
    "description": "API REST para gerenciamento de clientes e vendas"
  },
  "servers": [
    {
      "url": "https://api.sistema-representantes.com.br/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/clients": {
      "get": {
        "tags": ["Clientes"],
        "summary": "Listar clientes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de clientes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Clientes"],
        "summary": "Criar cliente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cliente criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sales": {
      "get": {
        "tags": ["Vendas"],
        "summary": "Listar vendas",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de vendas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaleListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Vendas"],
        "summary": "Criar venda",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSaleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Venda criada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "Client": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "codigo": { "type": "string" },
          "nome": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "telefone": { "type": "string" },
          "cidade": { "type": "string" },
          "estado": { "type": "string" },
          "cnpj_cpf": { "type": "string" },
          "endereco": { "type": "string" },
          "bairro": { "type": "string" },
          "observacao": { "type": "string" },
          "ativo": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateClientRequest": {
        "type": "object",
        "required": ["nome"],
        "properties": {
          "codigo": { "type": "string" },
          "nome": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "telefone": { "type": "string" },
          "cidade": { "type": "string" },
          "estado": { "type": "string" },
          "cnpj_cpf": { "type": "string" },
          "endereco": { "type": "string" },
          "bairro": { "type": "string" },
          "observacao": { "type": "string" },
          "ativo": { "type": "boolean", "default": true }
        }
      },
      "ClientListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Client" }
          },
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "ClientResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Client" }
        }
      },
      "Sale": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "pedido": { "type": "string" },
          "data": { "type": "string", "format": "date-time" },
          "nf": { "type": "string" },
          "ano": { "type": "integer" },
          "mes": { "type": "integer" },
          "dia": { "type": "integer" },
          "cliente_id": { "type": "string" },
          "cliente_nome": { "type": "string" },
          "representada_id": { "type": "string" },
          "representada_nome": { "type": "string" },
          "status": { "type": "string" },
          "valor_total": { "type": "number", "format": "float" },
          "currency": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateSaleRequest": {
        "type": "object",
        "required": ["clienteId", "representadaId", "status", "itens"],
        "properties": {
          "clienteId": { "type": "string" },
          "representadaId": { "type": "string" },
          "data": { "type": "string", "format": "date-time" },
          "nf": { "type": "string" },
          "status": { "type": "string" },
          "pedido": { "type": "string" },
          "itens": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["produtoId", "quantidade", "valorUnitario"],
              "properties": {
                "produtoId": { "type": "string" },
                "quantidade": { "type": "number", "minimum": 0.01 },
                "valorUnitario": { "type": "number", "minimum": 0 }
              }
            }
          }
        }
      },
      "SaleListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Sale" }
          },
          "page": { "type": "integer" },
          "limit": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "SaleResponse": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/Sale" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Não autorizado",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "BadRequest": {
        "description": "Requisição inválida",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}